In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA, TruncatedSVD
import matplotlib.patches as mpatches
import time

# Classifier Libraries
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
import collections


# Other Libraries
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as imbalanced_make_pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import NearMiss
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, accuracy_score, classification_report
from collections import Counter
from sklearn.model_selection import KFold, StratifiedKFold
import warnings
warnings.filterwarnings("ignore")



df = pd.read_csv('/content/drive/My Drive/ML Project Taxi Fair/train.csv')
df.head()

      tripid  additional_fare  duration  ...  drop_lon    fare    label
0  189123628             10.5     834.0  ...   79.8783  270.32  correct
1  189125358             10.5     791.0  ...   79.8923  197.85  correct
2  189125719             10.5    1087.0  ...   79.9146  301.64  correct
3  189127273             10.5     598.0  ...   79.8971   82.30  correct
4  189128020              NaN       NaN  ...   79.9290  358.39  correct

[5 rows x 14 columns]

In [ ]:
df['pickup_time'] = pd.to_datetime(df['pickup_time'])
df['pickup_hour'] = df['pickup_time'].dt.hour

In [ ]:
df.isna().sum()/df.shape[0]*100

tripid                       0.000000
additional_fare              1.176060
duration                     1.176060
meter_waiting                1.176060
meter_waiting_fare           1.176060
meter_waiting_till_pickup    1.176060
pickup_time                  0.000000
drop_time                    0.000000
pick_lat                     0.000000
pick_lon                     0.000000
drop_lat                     0.000000
drop_lon                     0.000000
fare                         0.797625
label                        0.000000
pickup_hour                  0.000000
dtype: float64

In [ ]:
df.dropna(inplace=True)

df.drop(columns=['pickup_time', 'drop_time', 'tripid'], inplace=True)

In [ ]:
feature_columns = df.columns
for column in feature_columns:
  if column != "label":
    df[column] = np.log(df[column]+1)

df.head()

   additional_fare  duration  meter_waiting  ...      fare    label  pickup_hour
0         2.442347  6.727432       4.043051  ...  5.603299  correct     0.000000
1         2.442347  6.674561       3.871201  ...  5.292551  correct     0.000000
2         2.442347  6.992096       4.394449  ...  5.712544  correct     0.693147
3         2.442347  6.395262       5.605802  ...  4.422449  correct     1.098612
5         2.442347  8.133881       5.209486  ...  6.971687  correct     1.791759

[5 rows x 12 columns]

In [ ]:
def transform_label(x):
  if x=="correct":
    return 1
  else:
    return 0

df['label'] = df['label'].apply(lambda x: transform_label(x))

In [ ]:
df.head()

   additional_fare  duration  meter_waiting  ...      fare  label  pickup_hour
0         2.442347  6.727432       4.043051  ...  5.603299      1     0.000000
1         2.442347  6.674561       3.871201  ...  5.292551      1     0.000000
2         2.442347  6.992096       4.394449  ...  5.712544      1     0.693147
3         2.442347  6.395262       5.605802  ...  4.422449      1     1.098612
5         2.442347  8.133881       5.209486  ...  6.971687      1     1.791759

[5 rows x 12 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=['label']).values
Y = df['label'].values

scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

X_train, X_validation, Y_train, Y_validation = train_test_split(X, Y, test_size=0.20, random_state=1)

model = RandomForestClassifier(criterion='entropy', max_features='auto', n_estimators=200, max_depth=18)
model.fit(X_train, Y_train)

print("F1 Score : {0}".format(f1_score(model.predict(X_validation),Y_validation)))

F1 Score : 0.9674976333228148

In [ ]:
0.9674359785014228